{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="center-align">Welcome to <a href="{{ url_for('index') }}">AniBoard</a></h1>
            <div class="subtitle">
                A simple tool to keep up with anime episodes that aired but you haven't watched yet
            </div>
        </div>
    </div>

    <form method="get" action="{{ url_for('index') }}">
        <div class="row">
            <div class="col s10">
                <div class="input-field">
                    <input id="username" name="username" type="text" class="validate" value="{{ username }}">
                    <label for="username">MAL Username</label>
                </div>
            </div>
            <div class="col s2">
                <button class="btn waves-effect waves-light" type="submit">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input id="url" name="url" type="text" class="validate" value="{{ url }}">
                    <label for="url">Button URL</label>
                </div>
            </div>
        </div>
    </form>

    {% if username %}
    <div class="row">
        <p>
            <a href="https://myanimelist.net/animelist/{{ username }}?status=1" class="btn mal" target="_blank">
                MAL Watchlist
            </a>
            <a href="https://myanimelist.net/profile/{{ username }}" class="btn mal" target="_blank">
                MAL Profile
            </a>
        </p>
    </div>
    {% endif %}

    {% if username and not anime_list %}
    <div class="row">
        <div class="col s12">
            Nothing to watch!
        </div>
    </div>
    {% endif %}

    <h2>Backlog</h2>
    <div class="row anime-list">
        {% for anime in anime_list if anime._anilist and not anime.up_to_date %}
        {% include "_anime.html" %}
        {% endfor %}
    </div>

    <h2>Up to date</h2>
    <div class="row anime-list">
        {% for anime in anime_list if anime._anilist and anime.up_to_date %}
        {% include "_anime.html" %}
        {% endfor %}
    </div>

    <h2>Missing data</h2>
    <div>
        <ul class="collection">
            {% for anime in anime_list if not anime._anilist or anime._anilist.episodes == None %}
            <li class="collection-item"><a href="{{ anime.mal_url }}">MAL #{{ anime._mal.id }}</a> {{ anime.title }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<style>
    .subtitle {
        text-align: center;
        color: darkgray;
    }

    .btn.mal {
        background-color: #2e51a2;
    }

    .btn.anilist {
        background-color: #00a2ce;
    }

    .btn.google {
        background-color: #4285f4;
    }
</style>
{% endblock %}