{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="center-align">Welcome to <a href="{{ url_for('index') }}">AniBoard</a></h1>
            <div class="subtitle">
                A simple tool to keep up with anime episodes that aired but you haven't watched yet
            </div>
        </div>
    </div>

    <form method="get">
        <div class="row">
            <div class="col s10">
                <div class="input-field">
                    <input id="username" name="username" type="text" class="validate" value="{{ username }}">
                    <label for="username">MAL Username</label>
                </div>
            </div>
            <div class="col s2">
                <button class="btn waves-effect waves-light" type="submit">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input id="url" name="url" type="text" class="validate" value="{{ url }}">
                    <label for="url">Button URL</label>
                </div>
            </div>
        </div>
    </form>

    {% if username %}
    <div class="row">
        <p>
            <a href="https://myanimelist.net/animelist/{{ username }}?status=1" class="btn mal" target="_blank">
                MAL Watchlist
            </a>
            <a href="https://myanimelist.net/profile/{{ username }}" class="btn mal" target="_blank">
                MAL Profile
            </a>
        </p>
    </div>
    {% endif %}

    {% if username and not anime_list %}
    <div class="row">
        <div class="col s12">
            Nothing to watch!
        </div>
    </div>
    {% endif %}

    <div class="row anime-list">
        {% for anime in anime_list if anime._anilist and not anime.up_to_date %}
        <div class="col l12 xl6">
            <div class="anime row">
                <div class="col s3 l5">
                    <img class="cover" src="{{ anime.image }}">
                </div>
                <div class="col s9 l7">
                    <div class="title">{{ anime.title }} ({{ anime.watched_episodes }} / {{ anime.total_episodes or "?"
                        }})
                    </div>
                    <div class="season">{{ anime.season }}</div>
                    <div class="episodes">
                        {% for ep in (anime.not_watched_episodes[:10] if anime.not_watched_episodes else []) %}
                        <a href="{{ urlize(anime, ep) }}" class="btn" target="_blank">{{ ep }}</a>
                        {% endfor %}
                        {% if anime.not_watched_episodes and anime.not_watched_episodes[10:] %}...{% endif %}
                    </div>
                    {% if anime.time_until_next_episode %}
                    <div class="next">
                        Next episode in {{ anime.time_until_next_episode.days }} days,
                        {{ anime.time_until_next_episode.seconds // (60 * 60) }} hours.
                    </div>
                    {% endif %}
                    <div class="websites">
                        <a href="{{ anime.mal_url }}" class="btn mal" target="_blank">MAL</a>
                        <a href="{{ anime.anilist_url }}" class="btn anilist" target="_blank">AniList</a>
                        <a href="{{ anime.google_url }}" class="btn google" target="_blank">Google</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .anime {
        width: 95%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
        border-radius: 3px;
        height: 300px;
        overflow-y: auto;
    }

    .anime .cover {
        width: 100%;
        max-height: 200px;
        min-height: 150px;
        min-width: 100px;
        object-fit: contain;
    }

    .anime .title {
        font-size: 1.25em;
        margin-bottom: .5em;
    }

    .anime .episodes,
    .anime .websites {
        margin: 1.5em 0;
    }

    .subtitle {
        text-align: center;
        color: darkgray;
    }

    .btn.mal {
        background-color: #2e51a2;
    }

    .btn.anilist {
        background-color: #00a2ce;
    }

    .btn.google {
        background-color: #4285f4;
    }
</style>
{% endblock %}